<body>
    <form action="/finish" method="get">
    	<input type="submit" value="作品一覧表示">
    </form>
    <div class="center-hrizontal">
    	<%if !@movies.empty? %>
			<% @movies.each.reverse_each do |task| %>
				    <% movie=Movie.find(History.find(task.history_id).movie_id ) %>
					<div class="post center-vertical">
	            		<img src="<%= movie.jacket%>">
	            		<p><%= movie.title%></p>
	            		<p>公開日 <%= Date.parse(movie.release.to_s)%></p>
	            		<p><%=task.cinema%></p>
	            		<p>日時:<%=task.date.strftime("%Y-%m-%d %H:%M")%></p>
	            		<p>コメント: <%=task.comment%></p>
	            		<p class="result-rating-rate">
	                        <span class="star5_rating" data-rate="<%=task.star%>"></span>
	                    </p>
	            		<a href="/finish/delete/<%=task.id%>/duplicate">削除</a>
	            		<a href="/finish/edit/<%=task.id%>/duplicate">編集</a>
	            	</div>
			<% end %>
		<% else %>
			<h2>観た作品はありません</h2>
		<%end%>
	</div>
</body>