<body>
    <div class="center-hrizontal">
        <div class="post center-vertical">
    		<img src="<%= @movie.jacket%>">
    		<p><%= @movie.title%></p>
    		<p>公開日 <%= Date.parse(@movie.release.to_s)%></p>
        </div>
		<% @reviews.each.reverse_each do |review| %>
			<div>
        		<p><%=review.cinema%></p>
        		<p>日時:<%=review.date.strftime("%Y-%m-%d %H:%M")%></p>
        		<p>コメント: <%=review.comment%></p>
        		<p class="result-rating-rate">
                    <span class="star5_rating" data-rate="<%=review.star%>"></span>
                </p>
        		<a href="/finish/delete/<%=review.id%>/detail">削除</a>
        		<a href="/finish/edit/<%=review.id%>/detail">編集</a>
        	</div>
		<% end %>
	</div>
</body>