<section>
	<div class="center-vertical">
		<p></p>
		<h1>ようこそ <%=current_user.name%>さん</h1>
		<p></p>
	</div>
		<div class="center-vertical">
			<div class="flex-container">
				<%# if current_user.icon=="" %>
					<!--<a><img src="/assets/img/eigakan.png" alt="user_image" width="40" height="40"></a>-->
				<%# else %>
					<!--<a><img src="<%#=current_user.icon%>" alt="user_image" width="40" height="40"></a>-->
				<%# end %>
				<div class="flex-item">
					<form action="/home/edit/<%=current_user.id%>" method="get">
					    <input class="btn-home-border form-control" type="submit" value="ユーザー情報の編集" >
					</form><br>
						
					<form action="/favorite" method="get">
					    <input class="btn-home-border form-control" type="submit" value="お気に入りした作品">
					</form><br>
				</div>

				<div class="flex-item">
					<form action="/task" method="get">
					    <input class="btn-home-border form-control" type="submit" value="スケジュール一覧表示">
					</form><br>
					
					<form action="/finish" method="get">
					    <input class="btn-home-border form-control" type="submit" value="観た作品一覧表示">
					</form><br>				
				</div>
			</div>
		</div>
</section>
<body>
	<p></p>
	<h2 class="center-hrizontal">人気映画</h2>
		    <div class="center-hrizontal">
				<% @movies.each do |movie| %>
					<div class="post center-vertical">
						<img src="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>">
						<p><%= movie["release_date"]%></p>
						<p class="title"><%= movie["title"]%></p>
					
						<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
					</div>
				<% end %>
			</div>
			<script src="js/font.js"></script>
</body>
</html>
