<body class="center-hrizontal">
    <div class="post center-vertical">
		<img src="<%= @movie.jacket%>">
		<p><%= @movie.title%></p>
		<p>公開日 <%= Date.parse(@movie.release.to_s)%></p>
		
		<form action="/task/edit/<%=@task.id%>" method="post">
    		<div class="form-group">
    			<label for="date">見る予定日</label><br>
    			<input type="datetime-local" id="date" name="date" value="<%=@task.date.strftime("%Y-%m-%dT%H:%M")%>" required>
    		</div>
    		<div class="form-group">
    			<label for="cinema">観る劇場</label><br>
    			<input type="text" id="cinema" name="cinema" value="<%=@task.cinema%>" required>
    		</div>
    		<div class="form-group">
    			<label for="note">一言メモ</label><br>
    			<input type="text" id="note" name="note" value="<%=@task.note%>">
    		</div>
    		<input class="btn-flat-border  form-control" type="submit" value="更新">
		</form>
	</div>
</body>