<body>
    <script>
        function showClock1() {
           var nowTime = new Date();
           var nowHour = nowTime.getHours();
           var nowMin  = nowTime.getMinutes();
           var nowSec  = nowTime.getSeconds();
           var msg = nowHour + "時" + nowMin + "分" + nowSec +"秒";
           document.getElementById("RealtimeClockArea").innerHTML = msg;
        }
        setInterval('showClock1()',1000);
    </script>
    <h2><%=@date.year%>年<%=@date.month%>月<%=@date.day%>日(<%=@week%>) <a id="RealtimeClockArea">現在時刻</a></h2>
    <div class="center-hrizontal">
        <% if !@movies.empty? %>
    		<% @array.each do |schedule_id| %>
    			    <% movie=Movie.find(Schedule.find(schedule_id[1]).movie_id) %>
    			    <% task=Schedule.find(schedule_id[1])%>
    				<div class="post center-vertical">
                		<img src="<%= movie.jacket%>">
                		<p><%= movie.title%></p>
                		<p>公開日 <%= Date.parse(movie.release.to_s)%></p>
                		<p><%=task.cinema%></p>
                		<p>日時:<%=task.date.strftime("%Y-%m-%d %H:%M")%></p>
                		<p>メモ: <%=task.note%></p>
                		<a href="/task/delete/<%=task.id%>">削除</a>
                		<a href="/task/edit/<%=task.id%>">編集</a>
                		
                	</div>
    		<% end %>
    	<% else %>
    	    <h2>観る予定リストに作品がありません</h2>
    	<% end %>
	</div>
</body>