<section class="center-vertical">
	<h1>作品検索</h1>
	<form class="search_container " action="/search" method="post" >
		<input type="text" name="keyword" placeholder="キーワード">
		<input class="fas fa-search" type="submit"value="&#xf002">
	</form>
	<p></p>
	<% if @url=="https://api.themoviedb.org/3/movie/popular?api_key=a8ba2cc864f08aa8915a569d0640347f&language=ja-JA&page=1" %>
		<h2>人気映画</h2>
		<h3>画像をクリックで選択</h3>
		    <div class="center-hrizontal">
				<% @movies.each do |movie| %>
					<div class="post-fa center-vertical">
						<% work=Movie.find_by(title: movie["title"]) %>
						<% if work!=nil %>
							<%if Interest.find_by(user_id: session[:user],movie_id: work.id)!=nil%>
								<i class="fas fa-star fa-2x"  id="like" ></i>
								<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
								<i hidden><%= movie["release_date"]%></i>
								<i hidden><%= movie["title"]%></i>
							<%else%>
								<i class="far fa-star fa-2x" id="like" ></i>
								<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
								<i hidden><%= movie["release_date"]%></i>
								<i hidden><%= movie["title"]%></i>
							<%end%>
						<%else%>
							<i class="far fa-star fa-2x" id="like" ></i>
							<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
							<i hidden><%= movie["release_date"]%></i>
							<i hidden><%= movie["title"]%></i>
						<% end %>
							<form  action="/new/post" method="post"><%#class="col-lg-4"%>
								<input type="hidden" class="jacket" name="jacket" id="jacket" value="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>">
								<input type="hidden" class="release" name="release" id="release" value="<%= movie["release_date"]%>">
								<input type="hidden" class="title" name="title" id="title" value="<%= movie["title"]%>">
							 	<input type="image"  src="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>" alt="<%= movie["title"]%>">
		    				</form>
							<p><%= movie["release_date"]%></p>
							<p class="title"><%= movie["title"]%></p>
							<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
							<%#<p class="card-text"><small class="text-muted">星をクリックでお気に入り登録</small></p>#%>
						</div>
				<% end %>
			</div>
	<% elsif !@movies.empty?%>
	    <h2>検索結果</h2>
	    <h3>画像をクリックで選択</h3>
			<div class="center-hrizontal">
				<% @movies.each do |movie| %>
						<div class="post-fa center-vertical">
							<% work=Movie.find_by(title: movie["title"]) %>
								<% if work!=nil %>
									<%if Interest.find_by(user_id: session[:user],movie_id: work.id)!=nil%>
										<i class="fas fa-star fa-2x"  id="like" ></i>
										<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
										<i hidden><%= movie["release_date"]%></i>
										<i hidden><%= movie["title"]%></i>
									<%else%>
										<i class="far fa-star fa-2x" id="like" ></i>
										<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
										<i hidden><%= movie["release_date"]%></i>
										<i hidden><%= movie["title"]%></i>
									<%end%>
								<%else%>
									<i class="far fa-star fa-2x" id="like" ></i>
									<i hidden>https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%></i>
									<i hidden><%= movie["release_date"]%></i>
									<i hidden><%= movie["title"]%></i>
								<% end %>
							<form action="/new/post" method="post">
								<input type="hidden" name="jacket" value="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>">
								<input type="hidden" name="release" value="<%= movie["release_date"]%>">
								<input type="hidden" name="title" value="<%= movie["title"]%>">
							 	<input type="image"  src="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>" alt="<%= movie["title"]%>">
		    				</form>
							<p><%= movie["release_date"]%></p>
							<p class="title"><%= movie["title"]%></p>
							<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
							
						</div>
					
				<% end %>
			</div>
	<% else %>
		<p>検索結果がありません</p>
	<% end %>
	 <script  src="js/favorite.js"></script>
	 <script src="js/font.js"></script>
</section>