 <div id="ajaxReturn">
	<% @array.each do |schedule_id| %>
	    <% movie=Movie.find(Schedule.find(schedule_id[1]).movie_id) %>
	    <% task=Schedule.find(schedule_id[1])%>
		<div class="post center-vertical">
    		<img src="<%= movie.jacket%>">
    		<p><%= movie.title%></p>
    		<p>公開日 <%= Date.parse(movie.release.to_s)%></p>
    		<p><%=task.cinema%></p>
    		
    		<p>日時:<%=task.date.strftime("%Y-%m-%d %H:%M")%></p>
    		<p>メモ: <%=task.note%></p>
    		<p>上映開始まで</p>
            <p class=time></p>
            <p hidden class=date><%=task.date.strftime("%Y-%m-%d %H:%M:%S")%></p>
    		<a href="/task/delete/<%=task.id%>">削除</a>
    		<a href="/task/edit/<%=task.id%>">編集</a>
    		
    	</div>
	<% end %>
	<% if @array.empty? %>
    	    <h2>観る予定リストに作品がありません</h2>
    <% end %>
</div>